#favoritesList {
  display: flex;
  flex-wrap: wrap;
  gap: 1.25em;
  padding: 1.25em;
  box-sizing: border-box;
  list-style: none;
  overflow-x: auto;
}

.favorite-track {
  cursor: pointer;
  flex: 0 0 calc(25% - 3em);
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  transition: transform 0.2s ease-in-out;
  text-align: center;
}

.favorite-track:hover {
  transform: translateY(-5px);
}

.favorite-track-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-bottom: 0.5em;
}

.favorite-track p {
  font-size: 1rem;
  white-space: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
  width: 100%;
  margin-top: 0.5em;
  box-sizing: border-box;
}

/* Ajustes para dispositivos más pequeños */
@media (max-width: 768px) {
  .favorite-track {
    flex: 0 0 calc(50% - 1.25em);
  }

  .favorite-track p {
    font-size: 0.9rem;
  }
}
