/* Estilos de la búsqueda */
h2 {
        font-size: 1.2rem;
        margin-bottom: 1rem;
    }

h3 {
    font-size: 1.5rem;
    margin: 1rem 0;
}

.search-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
  }
  
  .search-item {
    display: flex;
    align-items: center;
    background-color: #181818;
    padding: 1rem;
    border-radius: 8px;
    transition: background-color 0.3s;
    cursor: pointer;
  }
  
  .search-item:hover {
    background-color: #282828;
  }
  
  .search-img {
    width: 64px;
    height: 64px;
    border-radius: 8px;
    margin-right: 1rem;
  }
  
  .search-info {
    display: flex;
    flex-direction: column;
  }
  
  .search-name {
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
  }
  
  .search-artist {
    font-size: 0.875rem;
    color: #b3b3b3;
  }
  

/* Responsive */
@media (max-width: 430px) {
    .search-list {
      grid-template-columns: repeat(2, 1fr); /* 2 columnas para dispositivos móviles */
    }
  
    .search-item {
      flex-direction: column;
      align-items: center; /* Centrar el contenido */
      padding: 0.5rem; /* Reducir el padding */
    }
  
    .search-img {
      width: 100px; /* Ajustar el tamaño de la imagen */
      height: 100px;
      margin: 0 0 0.5rem 0;
    }
  
    .search-info {
      align-items: center; /* Centrar el texto */
      text-align: center; /* Centrar el texto */
    }
  
    .search-name {
      font-size: 0.9rem; /* Reducir el tamaño de la fuente */
    }
  
    .search-artist {
      font-size: 0.75rem; /* Reducir el tamaño de la fuente */
    }
  }
  
  /* Botón de regreso */
.back-button {
    display: inline-block;
    margin-bottom: 1rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    color: #fff;
    background-color: #282828;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .back-button:hover {
    background-color: #3e3e3e;
  }
  
  /* Información del álbum y la playlist */
  .album-info,
  .playlist-info {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  .album-cover,
  .playlist-cover {
    width: 200px;
    height: 200px;
    border-radius: 8px;
    margin-right: 1rem;
  }
  
  .album-text h2,
  .playlist-text h2 {
    font-size: 2rem;
    margin: 0;
    color: #fff;
  }
  
  .album-text p,
  .playlist-text p {
    font-size: 1.2rem;
    color: #b3b3b3;
  }
  
  .track-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .track-item {
    padding: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .track-item:hover {
    background-color: #282828;
  }
  