body {
  transition: background-color 0.3s, color 0.3s;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0;
  display: grid;
  grid-template-rows: 3rem auto 2.5rem;
  grid-template-columns: 5rem 1fr;
  height: 100vh;
}

#mainContent {
  max-height: calc(100vh - 3rem - 2.5rem);
  overflow-x: auto;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 1.25rem;
  margin-right: 10em;
  right: 0;
}

.dropdown-content.show {
  display: block;
}

.dropdown-content a {
  color: white;
}

.windowClick {
  cursor: pointer;
}

#playButton {
  position: fixed;
}

/* Modo oscuro por defecto */
body.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

/* Modo claro */
body.light-mode {
  background-color: #ffffff;
  color: #121212;
}

body.light-mode a {
  color: #121212;
}

/* Estilos del botón deslizante */
.toggle-container {
  position: absolute;
  top: -1.2em;
  right: 1em;
}

.toggle-checkbox {
  display: none;
}

.toggle-label {
  display: block;
  width: 3.125rem;
  height: 1.5625rem;
  top: 3.125rem;
  background-color: #ccc;
  border-radius: 1.5625rem;
  position: relative;
  cursor: pointer;
}

.toggle-button {
  display: block;
  width: 1.4375rem;
  height: 1.4375rem;
  background-color: #ffffff;
  border-radius: 50%;
  position: absolute;
  top: 0.0625rem;
  left: 0.0625rem;
  transition: transform 0.3s;
}

.toggle-checkbox:checked +.toggle-label.toggle-button {
  transform: translateX(1.5625rem);
}

.toggle-checkbox:checked +.toggle-label {
  background-color: #666;
}

#menu-toggle,
#menu-button {
  display: none;
}

#menuSection {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

#actionsSection {
  margin-bottom: 3.125rem;
}

/* hack, intencionalmente oculto, con display none no funciona */
iframe {
  top: 0;
  width: 0;
  height: 0;
  position: absolute;
  overflow: hidden;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #ffffff;
  background-color: #121212;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: white;
  text-decoration: inherit;
}

aside {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.25rem;
}

a:hover {
  color: yellowgreen;
}

body {
  display: grid;
  grid-template-rows: 15% auto 10%;
  grid-template-columns: 20% auto;
  height: 100vh;
  margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

footer {
  grid-column: 1 / 3;
  grid-row: 3 / 4;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1.25rem;
  flex-direction: column;
}

footer p {
  margin: 0;
}

header {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  display:flex;
  justify-content: space-between;
  height: 5rem;
}

main {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  padding: 1.25rem;
}

main,
footer {
  width: calc(100% - 12.5rem);
}

main,
footer {
  padding: 1.25rem;
}

#app {
  max-width: 80rem;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.grid-item {
  border-radius: 0.625rem;
  text-align: center;
  text-decoration: none;
  color: #333;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.grid-item img {
  width: 100%;
  height: auto;
  border-radius: 0.625rem;
  transition: transform 0.3s, box-shadow 0.3s;
}

.grid-item:hover img {
  transform: scale(1.05);
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
}

.logo {
  height: 3.75rem;
  padding: 0.9375rem;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 1.25rem #646cffaa);
}

.logo.vanilla:hover {
  filter: drop-shadow(0 0 1.25rem #3178c6aa);
}

.card {
  padding: 1.25rem;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 0.5rem;
  border: 0.0625rem solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: yellowgreen;
}

button:focus,
button:focus-visible {
  outline: 0.25rem auto -webkit-focus-ring-color;
}

#logo {
  margin: 1.875rem;
  margin-top: -0.5625rem;
}

#logoutButton {
  position: absolute;
  top: 0.625rem;
  right: 0.625rem;
}

#imgAvatar {
  position: absolute;
  padding: 0;
  border: none;
  top: 1rem;
  right: 12rem;
  width: 3.75rem;
  height: 3.69rem;
  border-radius: 48%;
}

#imgAvatar img {
  border-radius: 50%;
}

img {
  margin-right: 0.625rem;
}

#displayName {
  position: absolute;
  top: 2rem;
  right: 5rem;
}

#menu-button {
  background-color: #333;
  color: #fff;
  padding: 0.625rem 1.25rem;
  border: none;
  cursor: pointer;
  display: none;
}

#mobile-menu {
  display: none;
}

#mobile-menu ul {
  padding: 0;
}

#mobile-menu ul li {
  margin: 0.625rem 0;
}

#mobile-menu ul li a {
  text-decoration: none;
  color: #333;
}

#navAside {
  position: absolute;
  margin-top: 7.5rem;
}

#navAside li {
  list-style: none;
}

#playlistGenre {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(9.375rem, 1fr));
  gap: 0.625rem;
  padding: 1.25rem;
}

#profileButton {
  position: absolute;
  top: 1.5625rem;
  right: 12.5rem;
}

#searchContainer {
  position: absolute;
  top: 1.875rem;
  right: 38rem;
  max-width: 37.5rem;
  width: 100%;
}

#searchContainer input {
  width: 100%;
  padding: 1.25rem 1.875rem 1.25rem 3.125rem;
  font-size: 1.125rem;
}

#searchContainer #imgLoupe {
  position: absolute;
  left: 0.625rem;
  top: 1.2rem;
  font-size: 1.125rem;
}

@media (max-width: 430px) {
  body {
    display: flex;
    flex-direction: column;
  }

  header,
  main,
  footer {
    width: 100%;
    padding: 0;
  }

  aside {
    display: none;
  }

  #menu-button {
    display: block;
    cursor: pointer;
  }

  #menu-toggle {
    display: none;
  }

  #menu-toggle:checked ~ #mobile-menu {
    display: block;
  }

  #mobile-menu {
    background-color: #1a1a1a;
    position: absolute;
    top: 3.125rem;
    width: 100%;
    left: 0;
    right: 0;
    text-align: center;
  }

  #mobile-menu ul {
    list-style: none;
    padding: 0;
  }

  #mobile-menu ul li {
    padding: 0.625rem 0;
  }

  #mobile-menu ul li a {
    color: white;
    text-decoration: none;
  }

  #mobile-menu ul li a:hover {
    color: #646cff;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* Regla para mostrar el botón de menú solo en dispositivos móviles (pantallas pequeñas) */
@media (max-width: 768px) {
  #menu-button,
  #menu-toggle {
    display: block;
  }

  #mobile-menu {
    display: block;
  }
}